<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Users</title>
  </head>

  <body class="bg-zinc-900 min-h-screen text-white">
    <div>
      <a href="/" class="text-blue-500 text-2xl mt-4 p-6 hover:underline">
        Back to Home
      </a>

      <h1 class="text-blue-500 text-2xl m-8">All Users</h1>

      <!-- USERS WRAPPER -->
      <div class="users flex flex-wrap gap-6 px-6">
        <% users.forEach(user => { %>
        <div class="user w-[300px] bg-zinc-800 rounded-lg overflow-hidden">
          <!-- Image -->
          <img
            src="<%= user.image %>"
            alt="User Image"
            class="h-[250px] w-full object-cover"
          />

          <!-- User Info -->
          <h1 class="mt-5 pl-6 text-lg font-semibold"><%= user.name %></h1>
          <h3 class="pl-6 text-sm text-zinc-300"><%= user.email %></h3>

          <!-- Buttons -->
          <div class="mt-4 mb-4 flex justify-evenly">
            <!-- UPDATE -->
            <a
              href="/edit/<%= user._id %>"
              class="bg-blue-600 px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300"
            >
              Update
            </a>

            <!-- DELETE -->
            <a
              href="/delete/<%= user._id %>"
              class="bg-red-600 px-4 py-2 rounded-lg hover:bg-red-700 transition duration-300"
            >
              Delete
            </a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
